[submodule "catch-adapter"]
	path = catch-adapter
	url = https://github.com/njoy/catch-adapter
[submodule "dependencies/catch-adapter"]
	path = dependencies/catch-adapter
	url = https://github.com/njoy/catch-adapter
[submodule "dependencies/eigen-adapter"]
	path = dependencies/eigen-adapter
	url = https://github.com/njoy/eigen-adapter
[submodule "dependencies/ENDFtk"]
	path = dependencies/ENDFtk
	url = https://github.com/njoy/ENDFtk
[submodule "dependencies/boost"]
	path = dependencies/boost
	url = https://github.com/njoy/boost
[submodule "dependencies/range-v3-adapter"]
	path = dependencies/range-v3-adapter
	url = https://github.com/njoy/range-v3-adapter
[submodule "subprojects/variant-adapter"]
	path = subprojects/variant-adapter
	url = https://github.com/njoy/variant-adapter
[submodule "dependencies/variant-adapter"]
	path = dependencies/variant-adapter
	url = https://github.com/njoy/variant-adapter
